.header {
  justify-content: space-around;
}
.header-nav-langs {
  margin-right: 0;
}
.face-block {
  height: 670px;
  background-position-x: center;
  background-size: cover;
}
.about-block .central-block::before,
.about-block .central-block::after,
.security-block::after,
.download-block::after,
.footer-general-links::before,
.footer-company-links::after,
.footer-neutronmail-links::before,
.footer-neutronmail-links::after {
  content: none;
}
.about-block {
  flex-direction: column;
  align-items: center;
  height: auto;
}
.left-block,
.about-block .central-block,
.right-block {
  margin: 0 0 70px 0;
  width: 730px;
  text-align: center;
}
.right-block {
  margin: 0;
}
.about-block .sub-heading {
  font-size: 22px;
}
.left-block .sub-heading {
  padding-left: 106px;
}
.about-block .desciption {
  font-size: 20px;
}
.security-block .central-block,
.security-block .main-heading {
  margin: 0;
  text-align: center;
}
.security-block .learn-more-button {
  margin: 30px 0;
}
.security-block .our-users-block {
  padding: 0;
}
.download-block {
  height: 700px;
}
.download-block .central-block::after {
  left: 348px;
  bottom: -105px;
  width: 360px;
  height: 415px;
  background-size: contain;
  background-repeat: no-repeat;
}
.sponsors-block .description {
  padding: 0;
  font-size: 20px;
  text-align: center;
}
.sponsors-block .description::after {
  top: 25px;
  right: 0;
}
.footer-general-links,
.footer-company-links {
  margin-left: 10%;
}
.footer-nav {
  width: 500px;
  height: auto;
  font-size: 18px;
}
.footer-nav a {
  font-size: 18px;
}
.copyright {
  font-size: 16px;
}
