@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    src: local('Titillium Web Bold'), local('TitilliumWeb-Bold'), url(https://fonts.gstatic.com/s/titilliumweb/v7/NaPDcZTIAOhVxoMyOr9n_E7ffHjDGItzYw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'), url(https://fonts.gstatic.com/s/titilliumweb/v7/NaPecZTIAOhVxoMyOr9n_E7fdMPmDQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 200;
    src: local('Titillium Web ExtraLight'), local('TitilliumWeb-ExtraLight'), url(https://fonts.gstatic.com/s/titilliumweb/v7/NaPDcZTIAOhVxoMyOr9n_E7ffAzHGItzYw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 600;
    src: local('Titillium Web SemiBold'), local('TitilliumWeb-SemiBold'), url(https://fonts.gstatic.com/s/titilliumweb/v7/NaPDcZTIAOhVxoMyOr9n_E7ffBzCGItzYw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'AdobeInvisFont';
    src: url('assets/fonts/AdobeInvisFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('assets/fonts/MyriadPro.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MalagaOT-RegItalic';
    src: url('assets/fonts/MalagaOT-RegItalic.otf') format('opentype');
    font-weight: normal;    
}
.en .fr, .en .it, .en .pl,
.fr .en , .fr .it, .fr .pl,
.it .en, .it .fr, .it .pl,
.pl .en, .pl .fr, .pl .it  {
    display: none;
}
.lang-switcher {
    cursor: pointer;
}
.lang-switcher:hover {
    color: #b33;
}
.en .lang-switcher--en, .fr .lang-switcher--fr, .it .lang-switcher--it, .pl .lang-switcher--pl {
    font-weight: bold;
    color: #9c9c9c;
    border-bottom: 1px solid rgba(149, 149, 149, 255);      
    cursor: default;
}
.container {
    width: 1800px;
    height: 3141px;
    position: absolute;
    top: 167%; 
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    
}
body {
    font-family: "Titillium Web", "AdobeInvisFont", "MyriadPro-Regular", sans-serif;
}
header {
    display: flex;
    height: 150px;
    align-items: flex-end;
    justify-content: space-between;
       
}
.langs {
    display: block;
    width: 239px;
    height: 90px;
    padding-left: 199px;    
}
.langs ul {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: rgba(149, 149, 149, 255);
}
.langs li:first-child a  {
    font-weight: bold;
    color: #9c9c9c;
}
.langs li>span {
    display: inline-block;
    height: 20px; 
    font-size: 15px;
    font-weight: 400;
    color: rgba(149, 149, 149, 255);
    text-decoration: none;   
}

.langs h1 {
    padding-bottom: 23px;    
    font-weight: bold;
    font-size: 30px;
    color: #858688;
}
.langs h1 span{
    color: #5b4295;
}
.navigation {
    display: flex;
    width: 670px;
    height: 82px;
    padding-right: 201px; 
    justify-content: space-between;   
}

.navigation ul {
    width: 413px;
    display: flex;
    justify-content: space-between;       
}
.navigation a {    
    color: rgba(69, 69, 69, 255);
    font-size: 16px;
    text-decoration: none;
}
.login {
    display: flex;
    width: 183px;
    height: 84px;    
    justify-content: space-between;    
}
.login a {
    font-weight: bold;    
    word-spacing: 0.2em;
    color: #ffffff;
}
.login i~a {
    color: rgba(69, 69, 69, 255);
    padding-left: 4px;
}
.login div:first-child {
    height: 84px;    
    overflow: hidden;
    background: white;
}
.login div:last-child {
    height: 40px;
    display: flex;    
    width: 94px;    
    justify-content: center;
    align-items: center;
    margin-top: -11px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 21%, #582c7e  21%, #6277ce 79%, rgba(255, 255, 255, 0) 79%);
    overflow: hidden;
    position: relative;
    border: none;
}

.login div:last-child::before, .login div:last-child::after {
    content: '';
    position: absolute;
    border-radius: 100%; 
    width: 40px;
    height: 43px;
}
.login div:last-child::after {
    background: linear-gradient(90deg, #582c7e 50%, rgba(255, 255, 255, 0) 50%);        
    left: 0;
    top: 0;
}
.login div:last-child::before {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 50%, #6277ce 50%);
    top: 0;
    right: -2px;
    width: 45px;
}
.shadow {
    box-shadow: 1px 8px 19px 3px #636b92;
    border-radius: 27px;
}
.fas {
    color: #582c7e;
}

#face {
    display: flex;
    height: 730px;
    justify-content: center;
    background-image: url(assets/images/background.jpg);
    background-position-y: -170px;
    background-position-x: -1px;
    background-repeat: no-repeat;
    -webkit-mask-image: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 0% 80%, rgba(0,0,0,0) 100%);
}
.block { 
    display: block;   
    height: 260px;
    width: 762px; 
    margin-top: 144px;
    padding-left: 24px;  
}
#face h2 {    
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 0.009em;
    color: #7a7a79;
}
#face h3 {
    font-size: 37px;
    font-weight: 400;
    text-align: center;
    padding-right: 5px;
    padding-top: 16px;
    color: #7a7a79;
}
#face span {
    color: #fc6b6d;
}
#face .fa-apple {
    transform: scale(1.5);
    color: white;
}
#face .fa-google-play {
    transform: scale(1.3);
    color: white;
}
div.buttons div:nth-child(2), div.buttons div:nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;
    background: #6e4a72;
    border-radius: 100%;
    margin-right: 21px;
}
.buttons {
    display: flex;    
    justify-content: center;
    align-items: center;
    margin-top: 34px;
    background: linear-gradient(0deg, #668ce400 31%, #668ce46b 50%, #668ce400 52%);
    -webkit-mask-image: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 10% 90%, rgba(0,0,0,0) 100%);
    width: 475px;
    height: 137px;
    padding-left: 51px;
    position: relative;
    left: 92px;
    border-radius: 100%;
}
.create a {    
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    color: white;
    
}
.create {
    display: flex;
    width: 249px;
    height: 54px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 10%, #636b92 10%, #5f2f6a 90%, rgba(255, 255, 255, 0) 90%);
    overflow: hidden;
    position: relative;
    margin-right: 24px;
    margin-left: 17px;
}
.create::before, .create::after {
    content: '';
    position: absolute;
    border-radius: 100%; 
}
.create::after {
    background: linear-gradient(90deg, #636b92 50%, rgba(255, 255, 255, 0) 50%);
    width: 54px;
    height: 64px;
    left: -1px;
    top: 0;
}
.create::before {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 50%, #5f2f6a 50%);
    width: 56px;
    height: 60px;
    top: 0;
    right: -2px;
}
.social {
    display: block;
    width: 20px;
    height: 94px;
    position: relative;
    right: -466px;
    top: 155px;
}
.social a {
    display: block;
    height: 18px;
    width: 20px; 
    padding-bottom: 19px;   
}
.social .fab {
    color: #676766;
    transform: scale(1.5);
}
#about {
    height: 165px;
    display: flex;
    padding-top: 15px;
}
.first {
    position: relative;
    left: 308px;
    width: 373px;
}
.second {
    position: relative;
    left: 374px;
    width: 364px;
}
.third {
    position: relative;
    left: 446px;
    width: 380px;
}
#about i {
    transform: scale(3);  
    padding-top: 8px;
    padding-right: 9px; 
    color: #b0b0b0;  
    padding-left: 16px; 
}
#about h3 {
    font-size: 30px;
    color: #555555;
    display: inline;
    padding-left: 28px;
    letter-spacing: 0.015em;
}
#about h4 {
    font-size: 18.5px;
    color: #555555;
    padding-left: 72px;
    padding-top: 2px;
    word-spacing: 0;
} 
#about p {
    font-size: 14px;
    color: #555555;
    padding-top: 31px;
    word-spacing: 0.08em;
    line-height: 1.6;
    padding-left: 14px;
} 
#about div:nth-child(4) {
    width: 1px;
    height: 210px;
    position: relative;
    left: -403px;
    top: -131px;
}
#about div:nth-child(5) {
    width: 1px;
    height: 433px;
    position: relative;
    left: 28px;
    top: 3px;
}
#about div:nth-child(6) {
    width: 192px;
    height: 1px;
    position: relative;
    left: 489px;
    top: 2px;
}
#security {    
    height: 250px;    
}  
#security div:first-child {
    width: 622px;
    height: 75px;
    text-align: center;
    position: relative;
    top: 87px;
    left: 589px;
}
#security h2 {
    color: rgba(83, 83, 83, 255);
    font-size: 61px;
    padding: 36px 21px 18px 0;    
}
#security p {
    font-size: 24px;
    color: rgba(149, 147, 147, 255);
    width: 700px;
    margin-left: -186px;
    text-align: right;
    letter-spacing: 0.01em;
    line-height: 94%;
}
#security span {
    color: #f65151;
}
#security .shape {
    width: 973px;
    height: 1px;
    position: relative;
    top: 226px;
}
.learn {
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 331px;
    height: 59px;
    color: rgba(103, 103, 103, 255);
    position: relative;
    top: 22px;
    left: 974px;
    letter-spacing: 0.02em;
    box-shadow: 0px 0px 0px 1px;
    border-radius: 27px;
}
.learn a {
    padding-bottom: 6px;
    font-size: 16px;
    color: rgba(103, 103, 103, 255);
    text-decoration: none;
}
.picture {
    width: 943px;
    height: 66px;
    margin-left: 21px;
    margin-top: 63px;
}
#download {
    height: 1013px;
    background: linear-gradient(-6.5deg, #ffffff00 0%, #eeeeeed8 70.5%, #ffffff00 70%); 
    -webkit-mask-image: linear-gradient(17deg, rgba(0,0,0,0) 25%, rgba(0,0,0,1) 46% 100%);
}
#download p:first-of-type {
    font-family: "MalagaOT-RegItalic", "AdobeInvisFont", "MyriadPro-Regular", serif;
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    color: rgba(16, 16, 16, 255);
    position: relative;
    top: 24px;
    left: 403px;
    width: 525px;
    line-height: 1.28;
    letter-spacing: 0.01em;
}

#download span:last-of-type {
    font-size: 15px;
    color: #727272;
    padding-top: 12px;    
    display: block;
    word-spacing: 0.2em;
}
#download div {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #b7b7b7;
    position: relative;
    left: 364px;
}    
#download div:first-child {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #101010;
    top: 66px;
} 
#download div:nth-child(2) {
    top: 76px;
}
#download div:nth-child(3) {
    top: 87px;
}
#download h2 {
    font-size: 36px;
    color: rgba(83, 83, 83, 255);
    position: relative;
    top: 140px;
    left: 778px;
}
#download p:nth-of-type(2) {
    font-size: 16px;
    color: rgba(149, 147, 147, 255);
    text-align: end;
    display: block;
    width: 433px;
    position: relative;
    left: 669px;
    top: 156px;
    line-height: 1.45;
    letter-spacing: 0.01em;
}
#download img:nth-of-type(1), #download img:nth-of-type(2){
    position: relative;
    top: -431px;
    left: 734px;
}
#download img:nth-of-type(2) {
    margin-left: 8px;
    z-index: 5;
}
#download img:nth-of-type(3) {
    position: relative;
    left: 577px;
    top: -251px;
}
#sponsors {
    height: 290px;
}
#sponsors h3 {
    font-size: 36px;
    color: rgba(83, 83, 83, 255);
    position: relative;
    top: -245px;
    left: 608px;
    letter-spacing: 0.009em;
}
#sponsors h4 {
    font-size: 26px;
    color: #8d8d8d;
    position: relative;
    top: -236px;
    left: 578px;
    letter-spacing: 0.057em;
}
#sponsors a:first-of-type {
    font-size: 18px;
    text-decoration: none;
    color: white;
    display: flex;
    width: 248px;
    height: 56px;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 667px;
    top: -195px;
    letter-spacing: 0.03em;
    margin: 0;
}
#sponsors a:first-of-type>i {
    margin-right: 6px;
    color: white;
}
#sponsors a:last-of-type {
    width: 169px;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 10%, #36bae1 10%, #5e7bea 90%, rgba(255, 255, 255, 0) 90%);
    overflow: hidden;
    position: relative;
    top: -250px;
    left: 965px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 0.06em;
}

#sponsors a:last-of-type::before, #sponsors a:last-of-type::after {
    content: '';
    position: absolute;
    border-radius: 100%; 
}
#sponsors a:last-of-type::after {
    background: linear-gradient(90deg, #36bae1 50%, rgba(255, 255, 255, 0) 50%);
    width: 57px;
    height: 62px;
    left: -3px;
    top: 0;
}
#sponsors a:last-of-type::before {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 50%, #5e7bea 50%);
    width: 49px;
    height: 64px;
    top: 0px;
    right: -2px;
}
#sponsors a:last-of-type>i {
    margin-right: 7px;
    color: white;
}
#sponsors p {
    font-size: 14px;
    color: rgba(122, 122, 122, 255);
    position: relative;
    top: -143px;
    left: 1143px;
    letter-spacing: 0.01em;
}
#sponsors img {
    position: relative;
    top: -142px;
    left: 465px;
}
#sponsors div:first-of-type {
    width: 1400px;
    height: 1px;
    position: relative;
    top: -273px;
}
#sponsors div:nth-of-type(2) {
    width: 1px;
    height: 441px;
    position: relative;
    left: 1399px;
    top: -274px;
}
#sponsors div:nth-of-type(3){
    width: 1400px;
    height: 1px;
    position: relative;
    right: -400px;
    top: -1041px;
}
footer {
    height: 337px;
}
#links {
    height: 240px; 
    display: flex;
}
#links div:first-child {
    width: 213px;
    height: 130px;
    color: rgba(92, 92, 92, 255);
    font-size: 14px;
    padding-left: 219px;
    line-height: 1.65;
    letter-spacing: 0.01em;
}
#links p:last-of-type {
    padding-top: 23px;
}
#links ul {
    margin-top: -3px;
}
#links li {
    font-size: 14px;
    color: rgba(92, 92, 92, 255);
    text-align: right;
    list-style: none;
    line-height: 1.7;
    width: 140px;
}
#links li:first-of-type {
    font-size: 19px;
    font-weight: bold;        
    padding-bottom: 20px;
    letter-spacing: -0.02em;
}
#links li:not(:first-child)::before {    
    content: "■";
    font-size: 9px;    
    float: right;
    color: #5c5c5c;
    padding-left: 7px;
    position: relative;
    top: 2px;
}
#links a {
    font-weight: normal;
    color: rgba(92, 92, 92, 255);
    text-decoration: none;
}
#links p>a {
    text-decoration: underline;
    font-weight: bold;
}
#links div:nth-child(2) {
    padding-left: 349px;
}
#links div:nth-child(3) {
    padding-left: 111px;
}
#links div:nth-child(4) {
    padding-left: 62px;
}
#links div:nth-last-of-type(2) {
    width: 1px;
    height: 131px;
    position: relative;
    top: 8px;
    left: -1172px;
}
#links div:last-of-type {
    width: 1px;
    height: 316px;
    position: relative;
    left: -427px;
    top: 4px;
}
footer nav {
    list-style: none;
    display: block;
    width: 362px;
    height: 12px;
    position: relative;
    left: 201px; 
    font-size: 12px;
    color: rgba(149, 149, 149, 255);   
}
footer nav>ul {
    display: flex;    
    width: inherit;
    justify-content: space-between;
}
footer nav ul>li {
    list-style: none;
}
footer nav a {
    font-size: 12px;
    color: rgba(149, 149, 149, 255);
}
.copyright {
    font-size: 12px;
    color: rgba(92, 92, 92, 255);
    text-align: right;
    letter-spacing: 0.01em;
    width: 477px;
    padding-top: 22px;
}
.shape {
    background: #b9b9b9;
}
.unselectable {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
@-moz-document url-prefix() {
    .container{
        top: 250%;
    }
}
