body {
    zoom:70%;
}
.container {
    top: 30%;
    width: 780px;
    height: 800px;
}   
.langs {
    padding-left: 0;
}
.langs ul {
    width: 230px;
}
.navigation ul {
    width: 350px;
}
.login {
    padding-left: 10px;
}
#face {
    background-position-y: 90px;
    background-position-x: -95px;        
    background-size: 130%;        
}
#face h2 {
    font-size: 58px;
}
.block {
    padding-left: 0;
}
.social {
    right: 0;
    top: 240px;
}
.first, .second, .third {
    left: 0;
    width: inherit;
}
#about h3 {
    font-size: 22px;
    padding-left: 20px;
}
#about h4 {
    font-size: 17.5px;
    padding-left: 65px;
}
#security div:first-child {
    left: 250px;
}
#security .shape {
    width: 445px;
}
.learn {
    left: 445px;
}    
.picture {
    width: 760px;
}
.picture img {
    width: 100%;
}
#download div {
    left: 0;
    margin-left: 95px;
}
#download p:first-of-type {
    left: 0;
    margin-left: 130px;
}
#download h2 {
    left: 0;
    text-align: center;
}
#download p:nth-of-type(2) {
    left: 122px;
}
#download img:nth-of-type(3) {
    left: 331px;
    transform: scale(0.7);
}
#download img:nth-of-type(1), #download img:nth-of-type(2) {
    top: 194px;
    left: 186px;
    transform: scale(0.8);
}
#sponsors h3, #sponsors h4 {
    left: 0;
    text-align: center;
}
#sponsors a:first-of-type {
    left: 130px;
}
#sponsors a:last-of-type {
    left: 450px;
}
#sponsors p {
    left: 474px;
    top: -168px;
}
#sponsors img {
    left: 0;
    width: 760px;
}
#links div:first-child {
    padding-left: 0;
}
#links div:nth-child(2) {
    padding-left: 0;
}
footer nav {
    width: 600px;
    left: 80px;
    font-size: 20px;
}
footer nav a {
    font-size: 20px;
}
.copyright {
    padding-top: 35px;
}
.shape {
    display: none;
}@media screen and (min-width:320px) and (max-width:767px) and (orientation:landscape) {    
    .container {
        top: 90%;
    }   
}